
<div  class='item-contents'>
    <%= link_to image_tag(item.image, class: :item_img),item_path(item), method: :get %>
    
      <%# <div class='sold-out'> %>
        <%# <span>Sold Out!!</span> %>
      <%# </div> %>
     
    <h3 class='item-name'><div><%=link_to item.title  ,item_path(item), method: :get%></h3>
     
        <div><span class='item-price'><%=link_to "#{item.price}円", item_path(item), method: :get %></span></div>
       
    </div>
  </div>
  