
<div  class='item-contents'>
    <%= image_tag item.image.variant(resize: '200x200'), class: 'item-img' %>
    <h3 class='item-name'><div><%= item.title %></h3>
     
        <div><span class='item-price'><%= item.price %></span></div>
       
    </div>
  </div>
  