<div class="item-contents">
    <span><%= image_tag item.image.variant(resize: '200x200'), class: 'item-img' %></span>
    <div class="item"><div><%= item.title %></div>
     
        <div><span class="item-"><%= item.price %></span></div>
       
    </div>
  </div>